{% comment %} 
        {{ product.metafields.meta_data.softness_score }}
        Renders product comfort-scale.
        Accepts: 
        - product: {Object} product object 
        - is_card: {Boolean} Show the product rating. Default: false
       
        Usage:
        {% render 'comfort-scale', product: product %} 
{% endcomment %}
{%- liquid
  assign targetTitle = "queen" | downcase
  assign targetVariant = product.selected_or_first_available_variant
  for variant in card_product.variants
    assign variantOptionsLowercase = variant.options | join: ',' | downcase
    if variantOptionsLowercase contains targetTitle and targetVariant == null
      assign targetVariant = variant
    endif
  endfor
  assign firmness = targetVariant.metafields.custom.firmness
  assign level = 0
  if firmness.value contains 'Extra Firm'
    assign level = 4
  elsif firmness.value contains 'Firm'
    assign level = 3
  elsif firmness.value contains 'Medium'
    assign level = 2
  elsif firmness.value contains 'Soft'
    assign level = 1
  endif
%}
{% if level > 0 %}
  {{ 'comfort-scale.css' | asset_url | stylesheet_tag }}
    <div class="comfort-scale">
    {% comment %} {% if is_card == false %}
                  <h4>Comfort Scale</h4>
            {% endif %} {% endcomment %}
    <div class="firm-scale">COMFORT SCALE</div>
    <div class="firm-meter">
      <h6 class="firmness">
        <span class="d-block">Soft</span>
        <span class="d-block">Firm</span>
      </h6>
      <div class="meter level-{{ level }}">
        <span class="meter-block"></span>
        <span class="meter-block"></span>
        <span class="meter-block"></span>
        <span class="meter-block"></span>
      </div>
    </div>
  </div>
{% endif %}