{%- assign path = request.path | split: '/' -%}
{%- if path[1] contains 'blogs' -%}
  {% assign featuredBlogs = path[2] %}

  {% assign featuredArticles = false %}

  {% comment %}
    Grab the last 50 (default) articles from each Blog. Add the articles to the featureArticles variable.
  {% endcomment %}
  {% for featuredBlog in featuredBlogs %}
    {% if blogs[featuredBlog].articles %}
      {% if featuredArticles %}
        {% assign featuredArticles = featuredArticles | concat: blogs[featuredBlog].articles %}
      {% else %}
        {% assign featuredArticles = blogs[featuredBlog].articles %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% comment %}
    If featuredArticles is not false we should have articles to show - so let's do it!
  {% endcomment %}
  {% if featuredArticles %}
    {% assign featuredArticles = featuredArticles | sort: 'published_at' | reverse %}

    {% comment %}
      Now a quick example of showing the latest 3 articles from our master article list
    {% endcomment %}

    <ul class="invx_sidebar_menu_ul">
      {% for article in featuredArticles limit: 5 %}
        <li class="invx_sidebar_menu_li">
          <a href="{{ article.url }}">
            {% if article.image %}
              <img src="{{ article.image.src | image_url }}" width="50" height="auto">
            {% endif %}
            {{ article.title }}
          </a>
          {% comment %} {{ article.published_at }} {% endcomment %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
