{%- assign path = request.path | split: '/' -%}
{%- if path[1] contains 'blogs' -%}
  {% assign featuredBlogs = path[2] %}

  {% comment %}
    Set the featuredArticles variable to false by default.
  {% endcomment %}
  {% assign featuredArticles = false %}

  {% comment %}
    Grab the last 50 (default) articles from each Blog. Add the articles to the featureArticles variable.
  {% endcomment %}
  {% for featuredBlog in featuredBlogs %}
    {% if blogs[featuredBlog].articles %}
      {% if featuredArticles %}
        {% assign featuredArticles = featuredArticles | concat: blogs[featuredBlog].articles %}
      {% else %}
        {% assign featuredArticles = blogs[featuredBlog].articles %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% comment %}
    If featuredArticles is not false we should have articles to show - so let's do it!
  {% endcomment %}
  {% if featuredArticles %}
    {% assign featuredArticles = featuredArticles | sort: 'published_at' | reverse %}

    {% comment %}
      Now a quick example of showing the latest 3 articles from our master article list
    {% endcomment %}

    {% for article in featuredArticles limit: 3 %}
      <p>
        <b>{{ article.title }}: </b><br>
        {{ article.published_at }}
      </p>
    {% endfor %}
  {% endif %}
  {% for article in blogs.path[2].title %}
    {{ article.title | link_to: article.url }}
  {% endfor %}
{% endif %}
