{%- assign path = request.path | split: '/' -%}
{%- if path[1] contains 'pages' -%}
  <div class="invx-sidebar">
    <ul class="menu">
      {% for link in linklists['page-sidebar'].links %}
        <li class="menu-link">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{%- elsif path[1] contains 'blogs' -%}
  <div class="invx-sidebar">
    <ul class="menu">
      {% for link in linklists['blog-categories'].links %}
        <li class="menu-link">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{%- endif -%}
