{% schema %}
  {
    "name": "Amazon Product",
    "settings": [ 
      {
            "type": "text",
            "id": "amazon_link",
            "label": "Amazon Link"
      }
    ]
  }
{% endschema %}

{% if product.available == false and section.settings.amazon_link != blank  %}
<div class="product-template__container page-width amazon-link-container">
  <p>This product is no longer in stock, but you can view our range on Amazon.</p>
  <a href="{{ section.settings.amazon_link }}" title="Go to Amazon" target="_blank">Go to Amazon</a> 
</div>
{% endif %}