<div class="yotpo-widget-instance" data-yotpo-instance-id="618966" data-yotpo-product-id="{{product.id}}"></div>
{% schema %}
{
  "name": "Custom Yotpo Side Reviews",
  "tag": "section",
  "settings": [
  ]
}
{% endschema %}