<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/CvekGnxwoARDv2TIkrsamQxTKKuMvMgSSMeS2u2F" async></script>
<div class="page-width">
  <div class="yotpo-widget-instance" data-yotpo-instance-id="619069" data-yotpo-product-id="Product ID"/>
</div>
{% schema %}
{
  "name": "Custom Yotpo Reviews",
  "tag": "section",
  "settings": [
  ]
}
{% endschema %}