{{ 'extended-bar.css' | asset_url | stylesheet_tag }}
{%- if section.settings.bar_text != blank -%}
<div class="extended-bar" style="background-color: {{ settings.theme_accent }};">
  <div class="content">
    {{ section.settings.bar_text }}
    <button class="dismiss-extended-bar">Dismiss</button>
  </div>
</div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.extended-bar.name",
  "class": "extended-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "bar_text",
      "default":"<p><a href=\"https://mattressville.ca/local-flyer/current-local-flyer/\">Boxing Day Mattress Sale</a> EXTENDED | The Highest Rated Mattress Store | Financing Available: Buy Now, Pay Over Time! Select AFFIRM at Checkout.</p>",
      "label": "Bar Text"
    }
  ]
}
{% endschema %}
