{%- style -%}
{%- endstyle -%}
<div class="left-area">
  <div class="left-inner">
    <div class="bread-crumb">
      <a class="home" href="/">Home</a>
      <i class="gsi gs-chevron-right"></i>
      <span>Mattress Matchmaker</span>
    </div>
    <h1 class="tool-title">Mattress Matchmaker</h1>
  </div>
</div>
{% schema %}
  {
    "name": "Page with left side bar",
    "tag": "section",
    "class": "sidebar-section",
    "settings": []
  }
{% endschema %}