{{ 'section-main-page-coupons.css' | asset_url | stylesheet_tag }}

{%- style -%}
{%- endstyle -%}
<div class="section">
  Coupons
</div>
{% schema %}
{
  "name": "Coupons",
  "tag": "section",
  "class": "section",
  "settings": [
    
  ]
}
{% endschema %}
