{%- style -%}
{%- endstyle -%}

<div class="">
  <div class="container container section-padding">
    <div class="grid">
      <div class="sidebar">
        {% render 'left-sidebar' %}
      </div>

      <div class="main-content">
        <h2 class="page-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- if section.settings.page.title != blank -%}
            {{ section.settings.page.title | escape }}
          {%- else -%}
            {{ 'sections.page.title' | t }}
          {%- endif -%}
        </h2>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page with left side bar",
  "tag": "section",
  "class": "sidebar-section",
  "settings": [
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
