.comfort-scale {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.comfort-scale h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.13rem;
  margin-block: 0;
}
.comfort-scale .firm-meter {
  display: flex;
  flex-direction: column;
}
.comfort-scale .firm-meter .firmness {
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}
.comfort-scale .firm-meter .meter {
  display: flex;
}
.comfort-scale .firm-meter .meter .meter-block {
  border-bottom: 5px solid #f1f3f4;
  border-bottom-color: #f1f3f4;
  border-radius: 100px;
  flex: 1 1 auto;
}
.comfort-scale .firm-meter .meter .meter-block:not(:last-child) {
  margin-right: 6px;
}
.comfort-scale .firm-meter .meter.level-1 .meter-block:nth-child(1) {
  border-bottom-color: #f3ec3a;
}
.comfort-scale .firm-meter .meter.level-2 .meter-block:nth-child(1) {
  border-bottom-color: #f3ec3a;
}
.comfort-scale .firm-meter .meter.level-2 .meter-block:nth-child(2) {
  border-bottom-color: #f99b1e;
}
.comfort-scale .firm-meter .meter.level-3 .meter-block:nth-child(1) {
  border-bottom-color: #f3ec3a;
}
.comfort-scale .firm-meter .meter.level-3 .meter-block:nth-child(2) {
  border-bottom-color: #f99b1e;
}
.comfort-scale .firm-meter .meter.level-3 .meter-block:nth-child(3) {
  border-bottom-color: #ef3224;
}
.comfort-scale .firm-meter .meter.level-4 .meter-block:nth-child(1) {
  border-bottom-color: #f3ec3a;
}
.comfort-scale .firm-meter .meter.level-4 .meter-block:nth-child(2) {
  border-bottom-color: #f99b1e;
}
.comfort-scale .firm-meter .meter.level-4 .meter-block:nth-child(3) {
  border-bottom-color: #ef3224;
}
.comfort-scale .firm-meter .meter.level-4 .meter-block:nth-child(4) {
  border-bottom-color: #a51d47;
}