.comfort-scale {
  display: flex;
  width:100%;
  margin-bottom: 6px;

  h4{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    letter-spacing: 0.13rem;
    margin-block: 0;
  }
  .firm-scale{
    display: none;
    flex-grow: 1;
    background-color: #535353;
    color: #ffffff;
    padding: 7px 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
  }

  .firm-meter {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width:100%;

    .firmness {
      color: var(--secondary-color);
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .meter {
      display: flex;

      .meter-block {
        border-bottom: 5px solid #f1f3f4;
        border-bottom-color: #f1f3f4;
        border-radius: 100px;
        flex: 1 1 auto;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }

      
      &.level-1 {
        .meter-block {
          &:nth-child(1) {
            border-bottom-color: #e4a854;
          }
        }
      }

      &.level-2 {
        .meter-block {
          &:nth-child(1) {
            border-bottom-color: #e4a854;
          }
          &:nth-child(2) {
            border-bottom-color: #93a445;
          }
        }
      }

      &.level-3 {
        .meter-block {
          &:nth-child(1) {
            border-bottom-color: #e4a854;
          }
          &:nth-child(2) {
            border-bottom-color: #93a445;
          }
          &:nth-child(3) {
            border-bottom-color: #1c94d3;
          }
        }
      }

      &.level-4 {
        .meter-block {
          &:nth-child(1) {
            border-bottom-color: #e4a854;
          }
          &:nth-child(2) {
            border-bottom-color: #93a445;
          }
          &:nth-child(3) {
            border-bottom-color: #1c94d3;
          }
          &:nth-child(4) {
            border-bottom-color: #c91d52;
          }
        }
      }
    }
  }
}
