.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li:not(:first-child):not(:last-child) {
  flex: 1 0 4.4rem;
  max-width: max-content;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}

.btn-paginate {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid var(--accent-color);
  border-radius: 89.5709px;
  color: var(--accent-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 19px;
  padding: 13;
  height: 45px;
  width: 45px;
  text-decoration: none;
}

.btn-paginate:hover,
.btn-paginate.active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.btn-navigate {
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 89.5709px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 19px;
  padding: 13.62px 30px 12.37px;
  height: 45px;
  text-decoration: none;
}
.btn-navigate:disabled {
  background-color: #f1f3f4;
  color: var(--secondary-color);
}
.btn-navigate:not(:first-child) {
  margin-left: 10px;
}
.btn-navigate.prev .label {
  margin-left: 18px;
}
.btn-navigate.next .label, .btn-navigate.finish .label {
  margin-right: 18px;
}
