.coupons .header-box {
  background: #f1f3f4;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.0509803922);
  border-radius: 15px;
  padding: 14px 10px;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .coupons .header-box {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.coupons .header-box .link {
  color: var(--secondary-color);
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  padding: 3px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}
.coupons .header-box .link.active {
  font-weight: 700;
}
@media (min-width: 1200px) {
  .coupons .header-box .link {
    overflow: visible;
  }
}
@media (min-width: 768px) {
  .coupons .header-box .link:not(:first-child) {
    border-left: 1px solid var(--secondary-color);
  }
}
.coupons .card-wrapper {
  display: flex;
  flex-direction: column;
}
.coupons .card-wrapper.expired {
  display: none;
}
.coupons .card-wrapper.hide {
  display: none;
}
.coupons .card-wrapper > .card-container {
  background: #ffffff;
  border: 1px solid #f1f3f4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.0509803922);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .coupons .card-wrapper > .card-container {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .coupons .card-wrapper > .card-container {
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.coupons .card-wrapper > .card-container .cash-coupon {
  display: flex;
  flex-grow: 1;
}
.coupons .card-wrapper > .card-container .cash-coupon .cash-coupon-img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 990px) {
  .coupons .card-wrapper > .card-container .cash-coupon .cash-coupon-img {
    max-width: 553px;
  }
}
.coupons .card-wrapper > .card-container .card-content {
  flex-shrink: 1;
}
.coupons .card-wrapper > .card-container .card-content .card-heading {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--secondary-color);
}
@media (min-width: 990px) {
  .coupons .card-wrapper > .card-container .card-content .card-heading {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .coupons .card-wrapper > .card-container .card-content .card-heading {
    font-size: 18px;
  }
}
.coupons .card-wrapper > .card-container .card-content .description {
  color: var(--secondary-color);
  margin-right: 16px;
}
.coupons .card-wrapper > .card-container .card-content .description * {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.coupons .card-wrapper > .card-container .card-content .description strong {
  font-weight: 700;
}
.coupons .card-wrapper > .card-container .card-content .card-para {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 20px;
  margin-right: 5px;
}
@media (min-width: 990px) {
  .coupons .card-wrapper > .card-container .card-content .card-para {
    font-size: 10px;
    margin-right: 16px;
  }
}
@media (min-width: 1200px) {
  .coupons .card-wrapper > .card-container .card-content .card-para {
    font-size: 14px;
  }
}
.coupons .card-wrapper > .card-container .card-content .actions {
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  justify-content: space-between;
}
.coupons .card-wrapper > .card-container .card-content .actions .btn {
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 89.5709px;
  border: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 1.5;
  max-width: 320px;
  padding: 4px 12px;
  text-decoration: none;
  width: 100%;
}
.coupons .card-wrapper > .card-container .card-content .actions .copy-code {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 100%;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  height: 34px;
  justify-content: center;
  line-height: 1.5;
  min-width: 34px;
  padding: 0;
  text-decoration: none;
}
.coupons .card-wrapper > p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 16px;
}
.coupons .no-coupons {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.coupons .no-coupons.hide {
  display: none;
}
.coupons .no-coupons .title--primary {
  margin-block: 0;
}