.customer {
  .inner-wrapper {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 990px) {
      flex-direction: row;
    }

    .side-bar {
      flex-shrink: 1;
      display: inline-block;
      margin-right: 20px;

      @media (min-width: 990px) {
        width: 300px;
      }

      .bread-crumb {
        align-items: center;
        display: flex;
        margin: 23px 0 22px;

        .home {
          color: var(--secondary-color);
          font-weight: 700;
          text-decoration: none;
          white-space: nowrap;
        }

        span {
          color: var(--secondary-color);
          font-size: 16px;
        }
      }

      .menu-wrapper {
        border: 1px solid #f1f3f4;
        border-radius: 15px;
        box-shadow: 0 10px 30px #0000000d;
        overflow: hidden;

        .header {
          align-content: stretch;
          background-color: var(--secondary-color);
          display: flex;
          margin-bottom: 10px;
          padding: 22px 0 20px;

          h2 {
            color: #ffffff;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            margin-bottom: 0;
            width: 100%;
          }
        }

        .menu {
          list-style: none;
          margin-bottom: 10px;
          padding-left: 0;

          li {
            padding: 20px 30px;

            &:not(:last-child) {
              border-bottom: 1px solid var(--accent-color);
            }

            a {
              color: var(--secondary-color);
              font-size: 16px;
              line-height: 24px;
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .account-main {
      flex-grow: 1;
      max-width: 940px;

      .ship-and-bill {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        flex-direction: column;

        @media (min-width: 990px) {
          flex-direction: row;
        }

        .billing,
        .shipping {
          flex-grow: 1;
        }
      }

      .statuses {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        flex-direction: column;

        @media (min-width: 990px) {
          flex-direction: row;
        }

        p {
          flex-grow: 1;
        }
      }

      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 22px;

        li[data-address] {
          border: 1px solid var(--secondary-color);
          border-radius: 16px;
          margin-top: 0;
          padding: 16px;

          h2,
          p {
            text-align: left;
          }
        }
      }
    }
  }
}
