.extended-bar {
  width: 100%;
  background-color: #d7355c;
  display: block;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  padding: 15px 20px;
}
@media (min-width: 1200px) {
  .extended-bar {
    padding: 10px 0;
  }
}
.extended-bar .content {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .extended-bar .content {
    align-items: baseline;
  }
}
.extended-bar .content p {
  margin-bottom: 0;
}
.extended-bar .content a {
  color: #ffffff;
  text-decoration: underline;
}
.extended-bar .content button {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
  background-color: #d7355c;
  border: none;
  padding: 0;
}