.footer-bottom {
  display: none;
}
.footer-bottom .bottom-inner div p a {
  color: #098fc7;
}
.footer-bottom .bottom-inner div p a:hover {
  color: #098fc7;
}
@media (min-width: 992px) {
  .footer-bottom {
    display: block;
    background-color: var(--secondary-color);
    color: var(--footer-bottom-text);
    padding-block: 20px;
  }
  .footer-bottom .bottom-inner {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-bottom .bottom-inner .logo-area {
    font-style: 1px;
    margin-block: auto;
  }
  .footer-bottom .bottom-inner .logo-area .footer-logo {
    margin-right: 30px;
  }
  .footer-bottom .end {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-block: auto;
  }
  .footer-bottom .end .footer-upper {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--footer-bottom-text);
  }
  .footer-bottom .end .footer-upper .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .footer-bottom .end .footer-upper .menu .menu-link {
    background-color: transparent;
    color: var(--footer-bottom-text);
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
  }
  .footer-bottom .end .footer-below {
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
    display: flex;
    padding-top: 15px;
  }
  .footer-bottom .end .footer-below .copyright {
    color: var(--footer-bottom-text);
    font-size: 12px;
    line-height: 14px;
  }
  .footer-bottom .end .footer-below .right-side {
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-block: auto;
  }
  .footer-bottom .end .footer-below .right-side .payment-mods {
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
  }
  .footer-bottom .end .footer-below .right-side .payment-mods img:not(:last-child) {
    margin-right: 7px;
  }
  .footer-bottom .end .footer-below .right-side .social-media {
    display: flex;
  }
  .footer-bottom .end .footer-below .right-side .social-media .media-link {
    background-color: transparent;
    color: var(--footer-bottom-text);
    display: inline-flex;
    text-decoration: none;
  }
  .footer-bottom .end .footer-below .right-side .social-media .media-link:not(:last-child) {
    margin-right: 7px;
  }
  .footer-bottom .end .footer-below .right-side .social-media .media-link .gsi {
    font-size: 23px;
  }
}