.footer-mobile {
  display: block;
  background-color: var(--footer-mobile-bg);
  color: var(--secondary-color);
  padding-block: 30px 61.24px;
}
.footer-mobile .accordion {
  border: none;
  overflow-anchor: none;
}
.footer-mobile .accordion .item {
  display: flex;
  flex-direction: column;
}
.footer-mobile .accordion .item .header {
  display: flex;
}
.footer-mobile .accordion .item .header .btn-toggle {
  -webkit-appearance: button;
  align-items: center;
  -moz-appearance: button;
       appearance: button;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  line-height: 28px;
  padding: 0 0 7px;
  position: relative;
  text-transform: none;
  width: 100%;
}
.footer-mobile .accordion .item .header .btn-toggle .gsi {
  font-size: 16px;
}
.footer-mobile .accordion .item .header .btn-toggle::after {
  border-bottom: 2px solid var(--accent-color);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 60px;
}
.footer-mobile .accordion .item .collapse:not(.show) {
  display: none;
}
.footer-mobile .accordion .item .collapse .content {
  max-width: 480px;
  margin: 14px auto 0;
}
.footer-mobile .accordion .item .collapse .content.about .description {
  padding: 0;
}
.footer-mobile .accordion .item .collapse .content.about .menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-mobile .accordion .item .collapse .content.about .menu .menu-link {
  background-color: #ffffff;
  color: var(--secondary-color);
  margin-bottom: 5px;
  padding: 11px 20px 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
}
.footer-mobile .accordion .item .collapse .content.brands a, .footer-mobile .accordion .item .collapse .content.stylesTypes a, .footer-mobile .accordion .item .collapse .content.location a {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.footer-mobile .accordion .item .collapse .content.location .locations {
  display: flex;
}
.footer-mobile .accordion .item .collapse .content.location .locations .flex-fill {
  flex: 1 1 auto;
}
.footer-mobile .accordion .item .collapse .content.location .locations .flex-fill .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.footer-mobile .accordion .item .collapse .content.brands .brands-list {
  display: flex;
  flex-direction: column;
}
.footer-mobile .accordion .item .separator {
  border-top: 1px solid var(--secondary-color);
  margin-block: 20px;
}
.footer-mobile .bottom .inner {
  display: flex;
  flex-direction: column;
}
.footer-mobile .bottom .inner .payment-mods {
  margin-bottom: 20px;
}
.footer-mobile .bottom .inner .payment-mods img {
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer-mobile .bottom .inner .copyright p {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
}
.footer-mobile .bottom .inner .social-media .media-link {
  color: var(--secondary-color);
  display: inline-flex;
  text-decoration: none;
}
.footer-mobile .bottom .inner .social-media .media-link:not(:last-child) {
  margin-right: 30px;
}
.footer-mobile .bottom .inner .social-media .media-link .gsi {
  font-size: 35px;
}
@media (min-width: 992px) {
  .footer-mobile {
    display: none;
  }
}