@font-face {
  font-family: "GS-Starter-Icon";
  src: url("./GS-Starter-Icon.eot?e2mlkw");
  src: url("./GS-Starter-Icon.eot?e2mlkw#iefix") format("embedded-opentype"), url("./GS-Starter-Icon.ttf?e2mlkw") format("truetype"), url("./GS-Starter-Icon.woff?e2mlkw") format("woff"), url("./GS-Starter-Icon.svg?e2mlkw#GS-Starter-Icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.gsi {
  font-family: "GS-Starter-Icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gs-facebook-alt:before {
  content: "\ea90";
}

.gs-twitter-alt:before {
  content: "\ea96";
}

.gs-instagram:before {
  content: "\e984";
}

.gs-chevron-left::before {
  content: "\e92f";
}

.gs-chevron-right::before {
  content: "\e930";
}

.gs-chevron-down:before {
  content: "\e92e";
}

.gs-chevron-up:before {
  content: "\e931";
}

.gs-search:before {
  content: "\e9cc";
}

.gs-shopping-cart:before {
  content: "\e9d5";
}

.gs-log-in:before {
  content: "\e990";
}

.gs-phone:before {
  content: "\e9b2";
}

.gs-user:before {
  content: "\ea00";
}

.gs-heart:before {
  content: "\e97d";
}

.page-title, .title {
  color: var(--secondary-color);
}

.page-title:after,
.title:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0; /* This will reset the margins. */
  left: 0; /* This will align the border to the left. */
  width: 80px; /* Change this to whatever width you want. */
  max-width: 100px;
  padding-top: 0px; /* This creates some space between the element and the border. */
  border-bottom: 2px solid var(--accent-color); /* This creates the border. Replace black with whatever color you want. */
}

/*
 * Remove padding from product collection titles
 */
.collection__title {
  padding: 0px;
}

#Slide-template--22113196278068__multicolumn_A9Ngk7-2 .multicolumn-card__info .animate-arrow {
  position: absolute;
  background-color: var(--accent-color);
  color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  margin-top: 0;
  padding-block: 6px;
}

#shopify-section-template--22113195655476__rich_text_t4pYCG .isolate.page-width {
  padding: 0;
}

@media (max-width: 989px) {
  .yotpo-side-widget {
    display: none;
  }
}
@media (min-width: 750px) {
  .product-single .product__info-container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #f1f3f4;
  }
}
.product--left .grid__item.product__media-wrapper {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #f1f3f4;
}

.product-media-page-width.media-type-image.media-fit-contain.global-media-settings.gradient.constrain-height {
  border: none;
}

.product-single .quantity::after {
  border: 1px solid #f1f3f4;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
}

.sku-status {
  width: 100%;
  margin-bottom: 10px;
}

.product-categories {
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .product-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }
  .sku-status {
    width: 40%;
    margin-bottom: 0;
  }
  .product-categories {
    width: 56%;
  }
}
.product-single .comfort-scale .firm-scale {
  display: block;
}
.product-single .comfort-scale .firm-meter {
  width: 70%;
}

.blog-featured .page-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 23px 0 27px 0;
  position: relative;
}
.blog-featured .feat-image img {
  width: 100%;
}