.header-mid {
  align-items: center;
  background: var(--secondary-color);
  color: #ffffff;
  display: flex;
  height: 40px;
}
.header-mid .page-width {
  width: 100%;
}
@media (max-width: 1200px) {
  .header-mid .page-width {
    max-width: unset;
  }
}
@media (max-width: 992px) {
  .header-mid .page-width {
    padding: unset;
  }
}
.header-mid .inner {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .header-mid .inner {
    justify-content: space-between;
  }
}
.header-mid .inner .contact {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .header-mid .inner .contact {
    display: flex;
  }
}
.header-mid .inner .contact a {
  margin-right: 55px;
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}
.header-mid .inner .contact a .gsi {
  margin-right: 15px;
  font-size: 20px;
}
.header-mid .inner .offer {
  flex-shrink: 1;
}
.header-mid .inner .offer p {
  color: inherit;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .header-mid .inner .offer p {
    text-align: right;
  }
}