.header-bottom {
  border-bottom: 2px solid #ff3057;

  .main-nav {
    height: 40px;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;

    .menu {}
  }
}