.testimonials {
  padding: 30px 0;
  margin-bottom: 25px;
  overflow-x: hidden;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
    padding: 30px 0 70px;
    position: relative;
    margin-bottom: 70px;
    overflow-x: initial;
  }

  @media (min-width: 1200px) {
    padding: 30px 0;
  }

  .entry-data {
    position: relative;
    margin-bottom: 27px;

    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: var(--secondary-color);
      margin: 0;

      @media (min-width: 992px) {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }

  .testimonials-inner {
    position: relative;

    .testimonial-bg {
      border-radius: 15px;
      display: block;
      height: auto;
      max-width: 100%;
    }

    .testimonial-data {
      position: unset;
      top: 30px;
      left: 60px;
      width: 100%;
      border-radius: 20px 0 0 20px;

      @media (min-width: 992px) {
        position: absolute;
        border-radius: 20px;
        max-width: 490px;
      }

      .testimonial-swiper {
        border-radius: 20px;

        .swiper-slide {
          border-radius: 20px;
          background: #ffffff;
          border: 1px solid #f1f3f4;
          box-shadow: 0 10px 30px #0000000d;
          height: auto;
          padding: 15px;

          .top-area {
            display: flex;
            gap: 20px;

            img{
              margin-block: auto;
            }

            h3 {
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              color: var(--secondary-color);

              @media (min-width: 992px) {
                font-size: 24px;
                line-height: 28.13px;
              }
            }
          }
        }
      }
    }
  }
}
