:root {
  --v-0: 0;
  --v-1: 5px;
  --v-2: 10px;
  --v-3: 15px;
  --v-4: 20px;
  --v-5: 25px;
  --v-6: 30px;
  --v-7: 35px;
  --v-8: 40px;
  --v-9: 45px;
  --v-10: 50px;
  --v-11: 55px;
  --v-12: 60px;
  --v-13: 65px;
  --v-14: 70px;
  --v-15: 75px;
  --v-16: 80px;
  --v-17: 85px;
  --v-18: 90px;
  --v-19: 95px;
  --v-20: 100px;
  --full-h: 100dvh;
  --container-width-xs: 0;
  --container-width-sm: 576px;
  --container-width-md: 768px;
  --container-width-lg: 992px;
  --container-width-xl: 1200px;
  --container-width-xxl: 1360px;
  --container-width-xxxl: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GS-Starter-Icon';
  src: url('./GS-Starter-Icon.eot?e2mlkw');
  src: url('./GS-Starter-Icon.eot?e2mlkw#iefix') format('embedded-opentype'),
    url('./GS-Starter-Icon.ttf?e2mlkw') format('truetype'), url('./GS-Starter-Icon.woff?e2mlkw') format('woff'),
    url('./GS-Starter-Icon.svg?e2mlkw#GS-Starter-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  font-family: 'Roboto';
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  background-color: #ffffff;
  color: #212529;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #098fc7;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #065a7e;
    text-decoration: underline;
  }

  &:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
  }

  &:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

.gsi {
  font-family: 'GS-Starter-Icon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gs-facebook-alt:before {
  content: '\ea90';
}

.gs-twitter-alt:before {
  content: '\ea96';
}

.gs-instagram:before {
  content: '\e984';
}

.gs-chevron-right::before {
  content: "\e930";
}

.gs-chevron-down:before {
  content: '\e92e';
}

.gs-chevron-up:before {
  content: '\e931';
}

.gs-search:before {
  content: '\e9cc';
}

.gs-shopping-cart:before {
  content: '\e9d5';
}

.gs-log-in:before {
  content: '\e990';
}

.gs-phone:before {
  content: '\e9b2';
}

.visually-hidden {
  display: none;
}

body {
  .container {
    margin-inline: auto;
    padding-inline: var(--v-4);
    width: 100%;

    @media (min-width: 576px) {
      max-width: var(--container-width-sm);
    }

    @media (min-width: 768px) {
      max-width: var(--container-width-md);
    }

    @media (min-width: 992px) {
      max-width: var(--container-width-lg);
    }

    @media (min-width: 1200px) {
      max-width: var(--container-width-xl);
    }

    @media (min-width: 1360px) {
      max-width: var(--container-width-xxl);
    }

    @media (min-width: 1440px) {
      max-width: var(--container-width-xxxl);
      padding-inline: 90px;
    }
  }
}
