.product-content .inner {
  background-color: #ffffff;
  border: 1px solid #f1f3f4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.031372549);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}
.product-content .inner .tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.product-content .inner .tabs .tab-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.product-content .inner .tabs .tab-item:not(:last-child) {
  margin-right: 2px;
}
.product-content .inner .tabs .tab-item .tab {
  background-color: #f1f3f4;
  border-radius: 0;
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 14px;
  padding: 13px;
  display: block;
  text-decoration: none;
}
.product-content .inner .tabs .tab-item .tab.active {
  background-color: var(--secondary-color);
  color: #ffffff;
}
.product-content .inner .tab-content .tab-pane {
  display: none;
}
.product-content .inner .tab-content .tab-pane.active {
  display: block;
}
.product-content .inner .tab-content .tab-pane .tab-container {
  padding: 20px;
}
@media (min-width: 0px) {
  .product-content .inner .tab-content .tab-pane .tab-container {
    padding: 100px;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-left .vendor-details {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-left .vendor-details h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    margin: 0;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-right {
    text-align: center;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-right .mv-logo img {
    width: 250px;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-right .coupon-logo {
    text-align: center;
    padding-top: 50px;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-right .coupon-logo a {
    display: block;
    color: #000 !important;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .product-content .inner .tab-content .tab-pane .tab-container .description-box {
    display: flex;
    align-items: flex-start;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-left {
    flex-grow: 1;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-right {
    flex-shrink: 1;
    padding-left: 100px;
  }
  .product-content .inner .tab-content .tab-pane .tab-container .description-box .description-right .coupon-logo {
    text-align: center;
    padding-top: 50px;
  }
}
.product-content .inner .tab-content .tab-pane .tab-container p {
  font-size: 16px;
  line-height: 24px;
}
.product-content .inner .tab-content .tab-pane .tab-container p span img {
  width: 100%;
}
.product-content .inner .tab-content .tab-pane .tab-container figure {
  margin-bottom: 16px;
}
.product-content .inner .tab-content .tab-pane .tab-container figure img {
  width: 100%;
}
.product-content .inner .tab-content .tab-pane .tab-container a {
  color: #098fc7;
  text-decoration: none;
  background-color: transparent;
}
.product-content .inner .tab-content .tab-pane .tab-container figure {
  margin: 0;
}
.product-content .inner .tab-content .tab-pane .tab-container table {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #212529;
  margin-bottom: 16px;
  width: 100%;
}
.product-content .inner .tab-content .tab-pane .tab-container table tbody tr:nth-of-type(2n + 1) {
  background-color: rgba(0, 0, 0, 0.05);
}
.product-content .inner .tab-content .tab-pane .tab-container table th,
.product-content .inner .tab-content .tab-pane .tab-container table td {
  border: 1px solid #dee2e6 !important;
  padding: 8px;
  vertical-align: top;
}