.page-title {
  color: inherit;
  margin-block: 0;
  position: relative;
  z-index: 1;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.page-content .content *{
  color: #535353;
  margin-bottom: 15px;
}
