.page-title {
  color: inherit;
  margin-block: 0;
  position: relative;
  z-index: 1;
}

.page-title.h,
.page-title.h1 {
  font-weight: 700;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 23px 0 27px 0;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.page-content .content * {
  color: #535353;
  margin-bottom: 15px;
}