.shipping-areas {
  display: flex;
  flex-direction: column;

  h4{
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    letter-spacing: 0.13rem;
    text-align: center;
    margin-block: 0;
  }
}
