.shipping-areas {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin-top: auto;

  p{
    color: #008c00;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.13rem;
    text-align: center;
    margin-block: 0;

    span {
      color: #ef3224;
    }

    strong {
      color: var(--secondary-color);
      font-weight: 500;
    }
  }
}
