.sidbar-content-container {
  height: 100%;
  display: flex;
}
.sidbar-content-container > .invx-sidebar {
  width: 30%;
  max-width: 300px;
}
.sidbar-content-container > .invx-content {
  position: relative;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .sidbar-content-container {
    overflow: hidden;
    transform: translateX(-300px);
    width: calc(100% + 300px);
    transition: transform 0.2s ease-out;
  }
  .sidbar-content-container > .invx-sidebar {
    min-width: 300px;
  }
  .menu-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 20px;
  }
  .menu-toggle div {
    width: 35px;
    height: 5px;
    background-color: #555;
    margin: 6px 0;
  }
}
