{%- style -%}
{%- endstyle -%}

<div class="facets-vertical page-width">
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}

  <aside class="facets-wrapper">
    <div class="facets-container">
      {% render 'left-sidebar' %}
    </div>
  </aside>

  <div class="main-content">
    <h2 class="page-title ">
      {%- if page.title != blank -%}
        {{ page.title | escape }}
      {%- else -%}
        {{ 'page.title' | t }}
      {%- endif -%}
    </h2>
  </div>
</div>
